<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-barcodescanner"
    version="3.1.2">

    <name>BarcodeScanner</name>
    <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <repo>https://github.com/wildabeast/BarcodeScanner</repo>
    <issue>https://github.com/wildabeast/BarcodeScanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />
        <resource-file src="src/ios/CDVBarcodeScanner.bundle" />

        <header-file src="src/ios/zxing-all-in-one.h" />

        <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/zxing-all-in-one.cpp" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreImage.framework" />
        <framework src="AudioToolbox.framework" />
    </platform>

    <!-- android -->
    <platform name="android">

        <!-- SCAN -->
        <source-file src="src/android/BarcodeScanner.java" target-dir="src/com/jnuine/cordova/barcodescanner" />
        <source-file src="src/android/CaptureActivity.java" target-dir="src/com/jnuine/cordova/barcodescanner" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.jnuine.cordova.barcodescanner.BarcodeScanner" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.jnuine.cordova.barcodescanner.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.jnuine.cordova.barcodescanner.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>

        <framework src="src/android/scan.gradle" custom="true" type="gradleReference" />

        <!-- ENCODE -->
        <framework src="src/android/encode.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="windows8">
        <js-module src="src/windows/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <merges target="" />
        </js-module>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <DeviceCapability Name="webcam" />
        </config-file>

        <framework src="src/windows/lib/WinRTBarcodeReader.csproj" custom="true" type="projectReference"/>
    </platform>

    <platform name="windows">
        <js-module src="src/windows/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <merges target="" />
        </js-module>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <DeviceCapability Name="webcam" />
        </config-file>

        <framework src="src/windows/lib/WinRTBarcodeReader.csproj" custom="true" type="projectReference"/>
    </platform>

    <!-- Windows Phone 8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
        </config-file>

        <framework src="src/wp8/lib/zxing.wp8.0.dll" custom="true" />

        <asset src="src/wp8/assets/cancel.png" target="Images/appbar.cancel.png" />

        <source-file src="src/wp8/BarcodeScanner.cs" />
        <source-file src="src/wp8/BarcodeScannerTask.cs" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml.cs" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="browser-package" value="BarcodeScanner" />
            </feature>
        </config-file>

        <js-module src="src/browser/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <runs />
        </js-module>
    </platform>

</plugin>
